/***************************************SLIDEBARS.CSS*************************************/
/*!
 * Slidebars - A jQuery Framework for Off-Canvas Menus and Sidebars
 * Version: 2 Development
 * Url: http://www.adchsm.com/slidebars/
 * Author: Adam Charles Smith
 * Author url: http://www.adchsm.com/
 * License: MIT
 * License url: http://www.adchsm.com/slidebars/license/
 */

/***************************CREATING PROBLEM WITH DATE BAR************************/
/**
 * Box Model, Html & Body
 */
/*
html, body, [canvas=container], [off-canvas] {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: auto;
}

/**
 * Canvas
 */
/**********************************************************************************/
[canvas] {
	z-index: 1;
}

[canvas=container] {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	position: relative;
	background-color: white; /* Basic background color, overwrite this in your own css. */
	-webkit-overflow-scrolling: touch; /* Enables momentum scrolling on iOS devices, may be removed by setting to 'auto' in your own CSS. */
}

[canvas=container]:before, [canvas=container]:after {
	clear: both;
	content: '';
	display: table;
}

/**
 * Off-Canavs
 */

[off-canvas] {
	display: none;
	position: fixed;
	overflow: hidden;
	overflow-y: auto;
	background-color: #FFF;/* Basic background color, overwrite this in your own css. */
	/*color: white;  Basic colors, overwrite this in your own css. */
	-webkit-overflow-scrolling: touch; /* Enables momentum scrolling on iOS devices, may be removed by setting to 'auto' in your own CSS. */
}

[off-canvas*=top] {
	width: 100%;
	background-color: #143a71;
	top: 0;
}

[off-canvas*=right] {
	width: 255px;
	height: 100%
	top: 0;
	right: 0;
}

[off-canvas*=bottom] {
	width: 100%;
	height: 255px;
	bottom: 0;
}

[off-canvas*=left] {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

[off-canvas*=reveal] {
	z-index: 1;
}

[off-canvas*=push] {
	z-index: 1;
}

[off-canvas*=overlay] {
	z-index: 9999;
}

[off-canvas*=shift] {
	z-index: 0;
}

/**
 * Animation
 */

[canvas], [off-canvas] {
	-webkit-transform: translate( 0px, 0px );
	    -ms-transform: translate( 0px, 0px );
	        transform: translate( 0px, 0px );
	-webkit-transition: -webkit-transform 300ms;
	        transition:         transform 300ms;
	-webkit-backface-visibility: hidden; /* Prevents flickering, may be removed if experiencing problems with fixed background images in Chrome. */
}

[off-canvas*=shift][off-canvas*=top] {
	-webkit-transform: translate( 0px, 50% );
	        transform: translate( 0px, 50% );
}

[off-canvas*=shift][off-canvas*=right] {
	-webkit-transform: translate( -50%, 0px );
	        transform: translate( -50%, 0px );
}

[off-canvas*=shift][off-canvas*=bottom] {
	-webkit-transform: translate( 0px, -50% );
	        transform: translate( 0px, -50% );
}

[off-canvas*=shift][off-canvas*=left] {
	-webkit-transform: translate( 50%, 0px );
	        transform: translate( 50%, 0px );
}



/**
 * Print
 */

@media print {
	[canvas] {
		-webkit-transform: translate( 0px, 0px ) !important;
		    -ms-transform: translate( 0px, 0px ) !important;
		        transform: translate( 0px, 0px ) !important;
	}

	[off-canvas] {
		display: none !important;
	}
}

/************************************* LIGHTSLIDER.CSS ***********************************/

/*! lightslider - v1.1.3 - 2015-04-14
* https://github.com/sachinchoolur/lightslider
* Copyright (c) 2015 Sachin N; Licensed MIT */
/** /!!! core css Should not edit !!!/**/ 

.lSSlideOuter {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.lightSlider:before, .lightSlider:after {
    content: " ";
    display: table;
}
.lightSlider {
    overflow: hidden;
    margin: 0;
}
.lSSlideWrapper {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.lSSlideWrapper > .lightSlider:after {
    clear: both;
}
.lSSlideWrapper .lSSlide {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: all 1s;
    -webkit-transition-property: -webkit-transform,height;
    -moz-transition-property: -moz-transform,height;
    transition-property: transform,height;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade {
    position: relative;
}
.lSSlideWrapper .lSFade > * {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 9;
    margin-right: 0;
    width: 100%;
}
.lSSlideWrapper.usingCss .lSFade > * {
    opacity: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade > *.active {
    z-index: 10;
}
.lSSlideWrapper.usingCss .lSFade > *.active {
    opacity: 1;
}
/** /!!! End of core css Should not edit !!!/**/

/* Pager */
.lSSlideOuter .lSPager.lSpg {
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
}
.lSSlideOuter .lSPager.lSpg > li {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
}
.lSSlideOuter .lSPager.lSpg > li a {
    background-color: #222222;
    border-radius: 30px;
    display: inline-block;
    height: 8px;
    overflow: hidden;
    text-indent: -999em;
    width: 8px;
    position: relative;
    z-index: 99;
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}
.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
    background-color: #428bca;
}
.lSSlideOuter .media {
    opacity: 0.8;
}
.lSSlideOuter .media.active {
    opacity: 1;
}
/* End of pager */

/** Gallery */
.lSSlideOuter .lSPager.lSGallery {
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.lSSlideOuter .lSPager.lSGallery li {
    overflow: hidden;
    -webkit-transition: border-radius 0.12s linear 0s 0.35s linear 0s;
    transition: border-radius 0.12s linear 0s 0.35s linear 0s;
}
.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 5px;
}
.lSSlideOuter .lSPager.lSGallery img {
    display: block;
    height: auto;
    max-width: 100%;
}
.lSSlideOuter .lSPager.lSGallery:before, .lSSlideOuter .lSPager.lSGallery:after {
    content: " ";
    display: table;
}
.lSSlideOuter .lSPager.lSGallery:after {
    clear: both;
}
/* End of Gallery*/

/* slider actions */
.lSAction > a {
    width: 32px;
    display: block;
    top: 50%;
    height: 32px;
    background-image: url('../img/controls.png');
    cursor: pointer;
    position: absolute;
    z-index: 99;
    margin-top: -16px;
    opacity: 0.5;
    -webkit-transition: opacity 0.35s linear 0s;
    transition: opacity 0.35s linear 0s;
}
.lSAction > a:hover {
    opacity: 1;
}
.lSAction > .lSPrev {
    background-position: 0 0;
    left: 10px;
}
.lSAction > .lSNext {
    background-position: -32px 0;
    right: 10px;
}
.lSAction > a.disabled {
    pointer-events: none;
}
.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}


/* vertical */
.lSSlideOuter.vertical {
    position: relative;
}
.lSSlideOuter.vertical.noPager {
    padding-right: 0px !important;
}
.lSSlideOuter.vertical .lSGallery {
    position: absolute !important;
    right: 0;
    top: 0;
}
.lSSlideOuter.vertical .lightSlider > * {
    width: 100% !important;
    max-width: none !important;
}

/* vertical controlls */
.lSSlideOuter.vertical .lSAction > a {
    left: 50%;
    margin-left: -14px;
    margin-top: 0;
}
.lSSlideOuter.vertical .lSAction > .lSNext {
    background-position: 31px -31px;
    bottom: 10px;
    top: auto;
}
.lSSlideOuter.vertical .lSAction > .lSPrev {
    background-position: 0 -31px;
    bottom: auto;
    top: 10px;
}
/* vertical */


/* Rtl */
.lSSlideOuter.lSrtl {
    direction: rtl;
}
.lSSlideOuter .lightSlider, .lSSlideOuter .lSPager {
    padding-left: 0;
    list-style: none outside none;
}
.lSSlideOuter.lSrtl .lightSlider, .lSSlideOuter.lSrtl .lSPager {
    padding-right: 0;
}
.lSSlideOuter .lightSlider > *,  .lSSlideOuter .lSGallery li {
    float: left;
}
.lSSlideOuter.lSrtl .lightSlider > *,  .lSSlideOuter.lSrtl .lSGallery li {
    float: right !important;
}
/* Rtl */

@-webkit-keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@-webkit-keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
@keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
.lSSlideOuter .rightEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}
.lSSlideOuter .leftEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .rightEnd {
    -webkit-animation: topEnd 0.3s;
    animation: topEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .leftEnd {
    -webkit-animation: bottomEnd 0.3s;
    animation: bottomEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .rightEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .leftEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}
/*/  GRab cursor */
.lightSlider.lsGrab > * {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.lightSlider.lsGrabbing > * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}

/***************************************FLEXSLIDER.CSS************************************/

/*
 * jQuery FlexSlider v2.6.3
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url('../fonts/flexslider-icon.eot');
  src: url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../fonts/flexslider-icon.woff') format('woff'), url('../fonts/flexslider-icon.ttf') format('truetype'), url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/

.flex-container a:hover,
.flex-slider a:hover {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  background: none;
  border: none;
  box-shadow: none;
  margin: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}

.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  background: #fff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}
.flexslider .slides {
  zoom: 1.05;
}
.flexslider .slides img {
  object-fit: cover;
  height: 650px;
  -moz-user-select: none;
}


.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
/******.carousel li {
  margin-right: 5px;
}
********************/

.flex-direction-nav {
  *height: 0;
}

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 45%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(white, 0.5);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: rgba(255,255,255,.5);
}
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: rgba(white, 0.5);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before {
  content: '\f002';

}
.flex-direction-nav .flex-prev {
  left: -50px;
}
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #fff;
  opacity: .5;
}
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 5px;
  text-align: center;
  opacity: .7;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #fff;
  background: rgba(white, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.flex-control-paging li a:hover {
  background: #fff;
  background: rgba(white, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #fff;
  background: rgba(white, 0.9);
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}



/************************************ UNIVERSAL SELECTOR *********************************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;
}

/**************************************** CLEARFIX ***************************************/

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/************************************* CSS of SITE ***************************************/

body {
	font-size: 16px;
}

header {
	width: 100%;
}

p, a, li, {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	letter-spacing: .11rem;
	color: #888;
	font-weight: 300;
}

a {
	text-decoration: none;
}

h1 {
	color: rgba(0, 0, 0, 1);
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 1em;
}

h2 {
	color: rgba(0, 0, 0, 1);
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	text-align: center;
	font-size: 2em;
	letter-spacing: .025em;
	line-height: 1.3em;
}

h3 {
	color: rgba(0, 0, 0, 1);
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	text-align: center;
	font-size: 1.5em;
}

img {
	width: 100%;
	height: auto;
}

::-webkit-scrollbar {
	height: 0px !important;
	width: 0px !important;
	display: none !important;
}

/*************************************** LAYOUT OF SITE **********************************/

#Chicago {
	width: 100%;
}

#content {
	width: 100%;
}

#left-content {
	float: left;
	width: 70%;
}

#right-content {
	float: left;
	width: 30%;
}

#two_column_weather {
	width: 100%;
	opacity: .8;
	padding: 2% 5% 2%;
}

#thingsToDo {
	width: 100%;
	padding: 2% 5% 2%;
	margin: 0 auto 5%;
	padding: 0 6% 0 6%;
}

#property {
	width: 100%;
	padding: 0% 5% 2%;
	position: relative;
	opacity: .95;
	height: 105vh;
}

#customer {
	width: 100%;
	height: 65vh;
	padding: 0 5% 0;
}

aside {
	width: 100%;
	padding: 2% 5% 2%;
	height: 290vh;
	padding: 0 10%;
	background-color: #ddd;
	border-top: solid .3vw #ddd;
}

/**************************************** Header *****************************************/
#header-container {
	width: 100%;
}

#header-left {
	width: 80%;
	float: left;
}

#header-right {
	width: 20%;
	float: right;
}

.logo {
	height: 72px;	
	width: 128px;
	margin: 1% 3%;
}

#two figure {
	width: 30%;
	float: left;
	padding: 2%;
}

#two img {
	display: inline;
	height: 48px;
	width: 48px;
	margin-top: 30%;
	margin-left: 3%;
	opacity: .5;
}
/*********************************** Header Carousel *************************************/

.carousel {
	position: relative;
	opacity: .90;
	height: 600px;
	overflow-y: hidden;
}

#headline {
	color: rgba(255, 255, 255, 1);
	position: absolute;
	top: 45%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 5em;
	padding: 5%;
	text-shadow: 2px 2px #000;
	z-index: 100;
}

#Chicago-slider .flex-direction-nav .flex-next {
	display: none;
}

#Chicago-slider .flex-direction-nav .flex-prev {
	display: none;
}

.flexslider .slides > li:first-child {
	float: left; display: block;
}

/************************************* STAY DATES ****************************************/

#stayDates {
	height: 100px;
	width: 100%;
	background: rgba(0, 0, 0, .6);
	transform: translateY(-125%);
	position: absolute;
}

/********************************** Stay Dates Form **************************************/

#stayDates form {
	display: inline-block;
	float: left;
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	vertical-align: bottom;
}

/******************************* date input boxes in form ********************************/

.dates {
	border: none;
	height: 45px;
	width: 21%;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	font-size: 1.13em;
	padding: 5px;
	letter-spacing: .11em;
	color: rgba(0, 0, 0, .4);
	margin-left: -1%;
}

/******************* text boxes to say "Check-In" and "Check-Out" ************************/

input[type="text"] {
	width: 12%;
	height: 45px;
	color: rgba(0, 0, 0, 1);
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.13em;
	padding: 5px;
	letter-spacing: .055em;
	text-align: left;
}

/************************************ Submit button **************************************/

input[type="submit"] {
	border: none;
	height: 46px;
	width: 10%;
	background-color: red;
	color: #FFF;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.13em;
	padding: 6px;
	letter-spacing: .11em;
}

/************************************* WEATHER API ***************************************/

#left_weather {
	width: 12%;
	display: inline-block;
	float: left;
	padding: 1%;
}

#weather li {
	color: rgba(0, 0, 0, .4);
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	text-align: left;
	font-size: .9em;
	line-height: 1.5em;
	letter-spacing: .05em;
}

#right_weather {
	width: 86%;
	display: inline-block;
	float: right;
	text-align: center;
	margin-top: 1%;
}

#left-pix {
	width: cover;
	display: block;
}

/*************************************** THINGS TO DO ************************************/

.inside-figure {
	position: relative;
}

#thingsToDo figure {
	width: 25%;
	float: left;
	position: relative;
	padding: 10px;
}

#thingsToDo img {
	display: block;
	width: 100%;
}

#thingsToDo figure figcaption {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	text-align: center;
	transition: all .75s ease-in-out;
}

#thingsToDo figure:hover figcaption {
	opacity: 1;
}

#thingsToDo figure:hover img {
	opacity: .3;
}

#thingsToDo h2 {
	margin-bottom: 2%;
	font-weight: 600;
	text-align: left;
	margin-left: -3%;
}

/**********************************THINGS TO DO FIGCAPTION************************************/

/*************centers text*********************/
#thingsToDo figure figcaption div {
	/*************centers text vertically**********/
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	/***********centers text horizontally**********/
	width: 100%;
	text-align: center;
	/***********FIGCAPTION FONT STYLING************/
	font-family: 'Lato', sans-serif;
	font-size: 1.3em;
	letter-spacing: .11rem;
	color: #888;
	font-weight: 600;
	text-shadow: 1px 1px #888;
}
#thingsToDo figure figcaption div a {
	font-family: 'Lato', sans-serif;
	font-size: 1.3em;
	letter-spacing: .11rem;
	color: #888;
}

#thingsToDo figure figcaption div a h3 {
	font-family: 'Lato', sans-serif;
	font-size: .85em;
	letter-spacing: .05rem;
	color: #888;
	font-weight: 500;
	text-shadow: 1px 1px #888;
}

.open-button {
	border: none;
	font-family: 'Lato', sans-serif;
	font-size: .9em;
	letter-spacing: .11rem;
	color: #888;
	background-color: rgba(0,0,0,0)
}

.close-button {
	font-family: 'Lato', sans-serif;
	font-size: 2em;
	transform: scaleY(0.8);
	font-weight: 200;
	display: block;
	float: right;
	border: none;
	background-color: white;
	margin-right: 5%;
	margin-top: 1%;
	margin-bottom: 1%;
	opacity: .5;
}

/********************************** THING INFO POP-UPs ************************************/

.thing-pop-up-content {
	width: 75%;
	height: 100vh;
	margin: 0 auto 0;
}

.thing-left-content {
	float: left;
	width: 40%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.thing-right-content {
	float: right;
	width: 60%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 15%;
}

.thing-description-p a{
	width: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 1.1em;
	line-height: 1.7em;
	letter-spacing: .055rem;
	color: rgba(0, 0, 0, .7);
	font-weight: 300;
}

/******************************* PROPERTY PHOTOS CAROUSEL ********************************/

#property h2 {
	font-weight: 500;
	text-align: left;
	margin-left: -1.75%;
}

.property-photos {
	display: block;
	width: 100%;
	float: left;
	height: auto;
	top: 0;
	position: absolute;
	left: 0;
	margin-top: 8%;
}

.property-photos ul {
	list-style: none outside none;
	padding-left: 0;
	margin-bottom: 0;
}

.property-photos li {
	display: block;
	float: left;
	margin-right: 6px;
	cursor: pointer;
	data: thumb;
}

.property-photos img {
	display: block;
	height: auto;
	max-width: 100%;
	object-fit: cover;
}

.property-photos > li:first-child {
	float: left; display: block;
}

/***************************** Customer Instagram & Quotes ********************************/

#Instagram {
	width: 40%;
	float: left;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 5%;
	margin-right: 5%;
	width: 275px;
	height: 275px;
}


#quote {
	width: 52%;
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto 0;
}

#quote h2 {
	font-weight: 500;
	text-align: center;
}
/************************************ Twitter Aside ***************************************/

#twitterFeed {
	margin-top: 10%;
	transform: translateY(-8vw);
}
p.timeline-header-description {
	display: none;
}

/************************************* Footer **********************************************/
footer {
	width: 100%;
	background-color: #555;
	display: inline-block;
	clear: both;
}

footer p {
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	font-size: .80rem;
	letter-spacing: .05em;
}

footer figure {
	width: 33%;
	padding-top: 2%;
	padding-bottom: 2%;
}

footer #email {
	display: inline-block;
	width: 25%;
	margin-left: 6%;
	margin-top: 1%;
	margin-bottom: 1%;
}

footer #phone {
	display: inline-block;
	width: 25%;
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 1%;
	margin-bottom: 1%;
}

footer #address {
	display: inline-block;
	width: 25%;
	margin-top: 1%;
	margin-bottom: 1%;
}