/************* "*" selects all to remove any default margins & padding **********  
  border-box keeps padding is included in max-width***************/

* {
	margin: 0;
	padding: 0;
<<<<<<< HEAD
	box-sizing: border-box; 
=======
	/********  box-sizing: border-box;  WAS CREATING PROBLEMS WITH PORTFOLIO TABLE LAYOUT **************/
>>>>>>> origin/master
}

body {
	background-color: #FFF;
}

header {
	background-color: rgba(224,232,241,.7);

}

p, a, li{
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	letter-spacing: .11em;
	color: #888;
}

a {
	text-decoration: none;
}

h1 {
	background-color: #143a71;
	color: rgba(224,232,241,1);
	font-family: 'Trirong', serif;
	font-weight: lighter;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5rem;
	letter-spacing: .2em;
	padding-left: 1.3%;
}

h1 span {
	background-color: #143a71;
	color: rgba(224,232,241,1);
	font-family: 'Trirong', serif;
	font-weight: lighter;
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
}  


/********************************* FOOTER ***********************************************/

footer {
	background-color: #143a71;
	display: inline-block;
	width: 100%;
	margin: 5% auto 0;
}

footer p {
	color: rgba(224,232,241,1);
	text-align: center;
	text-transform: uppercase;
	font-size: .80rem;
}

footer figure {
	width: 33%;
	padding-top: 2%;
	padding-bottom: 2%;
}

footer #email {
	display: inline-block;
	width: 25%;
	margin-left: 6%;
}

footer #phone {
	display: inline-block;
	width: 25%;
	border-left: 1px solid rgba(224,232,241,1);
	border-right: 1px solid rgba(224,232,241,1);
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 1%;
	margin-bottom: 1%;
}

footer #address {
	display: inline-block;
	width: 25%;
}


/******************************** CLASSES ***********************************************/

.blue {
	width: 100%;
	border: none;
	height: 2px;
	background-color: #093562;
}

.grey {
	width: 100%;
	border: none;
	height: 3px;
	background-color: rgba(224,232,241,.8);
}

/*********************************** WRAPPER ****************************************/

#wrapper {
	width: 95%;
	margin: 0 auto 0;
}

/************************************ HEADER *****************************************/

#logo img{
	display: block;
	margin: auto;
	padding-top: 2.5%;
	padding-bottom: 1.5%;
	width: 85px;	
}

/***********************************  SLIDESHOW  *****************************************/

#slideshow img{
	width: 100%;
}

/*********************************** SOCIAL MEDIA LINKS *********************************/

#navigation {
	width: 25%;
	float: right;
	margin-top: 1%;
	display: inline-block;
}
#navigation figure {
	width: 15%;
	float: left;
}

#navigation img{
	display: inline;
	width: 90%;
	border-radius: 20%;
}

/***************************************  ABOUT  ****************************************/

#about {
	width: 70%;
	margin: 13% auto 7%;
}

#about figure {
	display: inline;
	width: 25%;
	float: left;
}

#about img {
	border-radius: 100%;
	display: block;
	width: 85%;		
}

#about p {
	display: inline-block;
	font-size: 1.5em;
	line-height: 1.5em;
	text-align: justify;
	margin-top: 7%;
}

#portraitLeft {
	margin-left: 9.5%;
}

#portraitCenter {
	margin-left: 5%;
	margin-right: 5%;
}

/**************************************** PORTFOLIO **************************************/

#portfolio {
	width: 95%;
	margin: 0 2% 10% 3%;
}

#portfolio figure {
	width: 25%;
	float: left;
}

#portfolio img{
	display: block; 
	width: 95%;
	padding: 0 2% 9% 2%;
}

















